ul.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0 0 1rem;
}

li.sidebar {
  color: var(--basic);
  font-weight: 400;
}

a.sidebar,
a.apiList {
  cursor: pointer;
}

a.sidebar:hover,
a.apiList:hover {
  color: var(--basicHover);
}

span.sidebar {
  text-transform: capitalize;
  font-size: large;
}

i.sidebar {
  margin-left: 0.5rem;
  font-size: small;
}

a.selected {
  color: #145278;
  font-weight: 700;
}

ul.apiList {
  display: flex;
  flex-direction: column;
  margin: 5px 0 0 10px;
  gap: 5px;
}

div.apiList {
  height: 66px;
  transition: all 0.4s;
}

div.apiList.close {
  height: 0;
  overflow: hidden;
}
