div.users-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 30px;
}

div.headers.DesignToolbar {
  justify-content: center;
}

div.headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}

div.users-container > div.top {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
div.users-container > div.bottom {
  display: flex;
  justify-content: center;
}

div.users-grid {
  display: grid;
  gap: 30px;
  width: fit-content;
}

button.create-user {
  text-transform: capitalize;
  border-radius: 5px;
  padding: 10px 15px;
  color: #fff;
  background-color: #4182aa;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

button.create-user > span {
  text-align: center;
}
@media only screen and (max-width: 576px) {
  div.users-grid {
    grid-template-columns: var(--card-smallScreen-width);
  }
}

@media only screen and (min-width: 576px) {
  div.users-grid {
    grid-template-columns: repeat(2, var(--card-576mediumScreen-width));
  }
}

@media only screen and (min-width: 768px) {
  div.users-grid {
    grid-template-columns: repeat(4, var(--card-768mediumScreen-width));
  }
}

@media only screen and (min-width: 992px) {
  div.users-grid {
    grid-template-columns: repeat(4, var(--card-largeScreen-width));
  }

  div.headers.DesignToolbar {
    justify-content: space-between;
  }
}
